<% if signed_in? %>
  <h3>Wellcome <i><%= current_user.email %></i></h3>
  <h3>Your roles</h3>
  <ul>
    <% current_user.roles.each do |role| %>
      <li><%= role.name %></li>
    <% end %>
  </ul>

  <h3>Your authorizations</h3>
  <p>
    <b>Inline:</b> <%= @my_authorizations %>
  </p>
  <p>
    <b>Formated:</b>
  </p>
  <%= AutorizationsToHTML(@authorizations['all'], @my_authorizations).html_safe %>
<% else %>
  Please, <%= link_to 'Login', new_user_session_path %>
<% end %>
