<!DOCTYPE html>
<html>
  <head>
    <title>Authpoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Menu: 
    <%= link_to 'Clients', clients_path %> | 
    <%= link_to 'Invoices', invoices_path %> | 
    <%= link_to 'Coupons', coupons_path %> | 
    <%= link_to 'Products', products_path %>
    <%= yield %>
  </body>
</html>
